<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="baudRate" value="38400" />
		<add key="comPort" value="COM4" />
		<!-- parity values
		0 : Parity.None		
		1 : Parity.Odd		
		2 : Parity.Even		
		3 : Parity.Mark		
		-->
		<add key="parity" value="0" />
		<!-- stopbits values
		0 : StopBits.None
		1 : StopBits.One
		3 : StopBits.OnePointFive
		2 : StopBitsTwo	
		-->
		<add key="stopBits" value="2" />
		<add key="dataBits" value="8" />
		<add key="backupDir" value="" />
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>